{% extends 'CadStudent/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'CadStudent/css/detail.css' %}">

<div class="student-details">
  <h2>{{ student.name }}</h2>
  <div class="student-photo">
    <img src="{{ student.photo.url }}" alt="{{ student.name }}" width="150" height="150">
  </div>
  
  <!-- Tabela com detalhes do aluno -->
  <table>
    <tbody>
      <tr>
        <th>Nome:</th>
        <td>{{ student.name }}</td>
      </tr>
      <tr>
        <th>Idade:</th>
        <td>{{ student.age }}</td>
      </tr>
      <tr>
        <th>CPF:</th>
        <td>{{ student.cpf }}</td>
      </tr>
      <tr>
        <th>Data de Nascimento:</th>
        <td>{{ student.birth_date|date:"d/m/Y" }}</td>
      </tr>
      <tr>
        <th>Período do Curso:</th>
        <td>{{ student.course_period }}</td>
      </tr>
      <tr>
        <th>Cursos Matriculados:</th>
        <td>
          <ul>
            {% for course in student.courses.all %}
              <li>{{ course.name }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Botões -->
  <button onclick="window.location.href='{% url 'student_edit' student.pk %}'" class="btn btn-primary">Editar</button>
  <button onclick="window.location.href='{% url 'student_list' %}'" class="btn btn-secondary">Voltar para a Lista</button>
</div>
{% endblock %}
